<ion-header>
  <ion-toolbar color="primary">
    <ion-title><ion-icon name="cafe"></ion-icon> List of Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
    <ion-toolbar style="text-align: center" color="tertiary">
          <ion-title>
            <ion-button routerLink='/home' color="primary">
                <ion-icon   slot="icon-only" name="home"></ion-icon> Home
          </ion-button>

          <ion-button routerLink='/newoder/:kofieId' color="primary">
            <ion-icon name="basket"></ion-icon>Order
          </ion-button>
          <ion-button routerLink='/orders' color="primary">
            <ion-icon name="eye"></ion-icon> Show
          </ion-button>
          </ion-title>

      </ion-toolbar>

  <h3 style="text-align: center;"> Customers List of Orders.</h3>
         
            <ion-card style="background-color: whitesmoke;">
                <ion-card-header>
                  <ion-card-title>Order</ion-card-title>
                </ion-card-header>
              
                <ion-card-content color="primary">
                    <ul *ngFor = "let ordering of setOrder">
                        
                      Coffee ordered : {{ordering.Name}}<br>
                        Number of Sugar :{{ordering.sugar}}<br>
                        Milk : {{ordering.milk}}<br>
                        Number of Cups :{{ordering.Quantity}}<br>
                        Total :R{{ordering.total}}<br>
                        <br>
                        <img style="text-align: right;" src="assets\barcode.jpg" width="100px" height="50px"/>
                      </ul>
                </ion-card-content>
              </ion-card>
              <ion-button color="primary" style="padding-right: 80px " routerLink='/home'><ion-icon name="arrow-dropleft-circle"></ion-icon></ion-button>
              
  </ion-content>
