<ion-header>
  <ion-toolbar color="primary">
    <ion-title><ion-icon name="cafe"></ion-icon> Make Order.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
     <ion-card color="tertiary">
        <ion-toolbar style="text-align: center" color="tertiary">
            <ion-title>
              <ion-button routerLink='/home' color="primary">
                  <ion-icon   slot="icon-only" name="home"></ion-icon> Home
            </ion-button>
    
            <ion-button routerLink='/newoder/:kofieId' color="primary">
              <ion-icon name="basket"></ion-icon>Order
            </ion-button>
            <ion-button routerLink='/orders' color="primary">
              <ion-icon name="eye"></ion-icon> Show
            </ion-button>
            </ion-title>
    
        </ion-toolbar>
        <h5 > Your Order : {{newName}} </h5>
        <ion-card-content>
            <ion-list>
                <ion-radio-group (ionChange) = "getSuger($event)">
                  <ion-list-header>
                    <ion-label>sugars</ion-label>
                  </ion-list-header>
              
                  <ion-item>
                      <ion-label >1</ion-label>
                      <ion-radio  slot="start" value=1 checked></ion-radio>
                    </ion-item>
                  <ion-item>
                    <ion-label>2</ion-label>
                    <ion-radio   slot="start" value=2 checked></ion-radio>
                  </ion-item>
              
                  <ion-item>
                    <ion-label >3</ion-label>
                    <ion-radio   slot="start" value=3></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label >4</ion-label>
                    <ion-radio   slot="start" value=4></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label >5</ion-label>
                    <ion-radio   slot="start" value=5></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list><br>
              <ion-list>
                  <ion-radio-group (ionChange) = "getMilk($event)">
                    <ion-list-header>
                      <ion-label>Milk</ion-label>
                    </ion-list-header>
                
                    <ion-item>
                      <ion-label>yes</ion-label>
                      <ion-radio  slot="start" value="yes" checked></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>no</ion-label>
                      <ion-radio slot="start" value="no"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-list><br>
                <ion-item >
                    <ion-label>Quantity</ion-label>
                    <ion-select  (ionChange) = "getQuantity($event)">
                      <ion-select-option value=1 >1 cup</ion-select-option>
                      <ion-select-option value=2 >2 cups</ion-select-option>
                      <ion-select-option value=3 >3 cups</ion-select-option>
                      <ion-select-option value=4 >4 cups</ion-select-option>
                      <ion-select-option value=5 >5 cups</ion-select-option>
                      <ion-select-option value=6 >6 cups</ion-select-option>
                      <ion-select-option value=7 >7 cups</ion-select-option>
                      <ion-select-option value=8 >8 cups</ion-select-option>
                      <ion-select-option value=9 >9 cups</ion-select-option>
                      <ion-select-option value=10 >10 cups</ion-select-option>
                    </ion-select>
                  </ion-item><br>
                  <h2 style="float: right; color: blue">total : R{{totalprices}} </h2><br>

                <ion-button color="primary" (click)="Order();Totalprice(); presentToast()">Order</ion-button><ion-button color="primary" routerLink='/orders'>Check-Order</ion-button>
                <br>
                <ion-progress-bar value="0.25" buffer="0.5"></ion-progress-bar>
                  
                 
              </ion-card-content>
      </ion-card> 
    
</ion-content>
