

<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
        <img style="border-radius: 50%;" src="assets\gold.png" width="60px" height="60px"/>  BlaQ-Koffie.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <p>
    <ion-toolbar style="text-align: center" color="tertiary">
        <ion-title>
          <ion-button routerLink='/home' color="primary">
              <ion-icon   slot="icon-only" name="home"></ion-icon> Home
        </ion-button>

        <ion-button routerLink='/newoder/:kofieId' color="primary">
          <ion-icon name="basket"></ion-icon>Order
        </ion-button>
        <ion-button routerLink='/orders' color="primary">
          <ion-icon name="eye"></ion-icon> Show
        </ion-button>
        </ion-title>

    </ion-toolbar>

       
             <img style="border-radius: 20%;text-align: center;" src="assets\icon.png" width="400px" height="400px"/> 
  

      <ion-tabs >
        <ion-tab-bar color="primary" slot="bottom">
          <ion-tab-button tab="schedule">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Calendar</ion-label>
            <ion-badge>6</ion-badge>
          </ion-tab-button>
      
          <ion-tab-button tab="speakers">
            <ion-icon name="call"></ion-icon>
            <ion-label>Call-Us </ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="map">
            <ion-icon name="map"></ion-icon>
            <ion-label>Map</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="about">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>About</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs></p>
</ion-content>
