

<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
       <ion-icon name="cafe"></ion-icon>  BlaQ-Koffie.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
       
      <ion-toolbar>
        <ion-buttons slot="secondary">
          <ion-button>
            <ion-icon slot="icon-only" name="contact"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
          <ion-button color="secondary">
            <ion-icon slot="icon-only" name="more">
              
            </ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-button color="primary" style="padding-right: 80px " routerLink='/newoder/:kofieId'>Place Order<ion-icon name="basket"></ion-icon></ion-button><ion-button color="primary" routerLink='/orders'><ion-icon name="eye"></ion-icon>Show Order</ion-button>
      </ion-toolbar>

      <p>
          <!-- <img style="border-radius: 40%;" src="assets\cup.jpg" width="700px" height="500px"/> -->
      </p>

</ion-content>
