

<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
        <img style="border-radius: 50%;" src="assets\gold.png" width="100px" height="100px"/>  BlaQ-Koffie.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
      <ion-toolbar>
        <ion-buttons slot="secondary">
          <ion-button>
            <ion-icon slot="icon-only" name="contact"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
          <ion-button color="secondary">
            <ion-icon slot="icon-only" name="more">
              
            </ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-button color="primary" routerLink='/newoder/:kofieId'>Place Order<ion-icon name="basket"></ion-icon></ion-button><ion-button color="primary" routerLink='/orders'><ion-icon name="eye"></ion-icon>Show Order</ion-button>
      </ion-toolbar>

      <p>
           <!-- <img style="border-radius: 50%;" src="assets\cup.jpg" width="700px" height="500px"/>  -->
      </p>

      <ion-tabs >
        <ion-tab-bar color="primary" slot="bottom">
          <ion-tab-button tab="schedule">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Calendar</ion-label>
            <ion-badge>6</ion-badge>
          </ion-tab-button>
      
          <ion-tab-button tab="speakers">
            <ion-icon name="call"></ion-icon>
            <ion-label>Call-Us </ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="map">
            <ion-icon name="map"></ion-icon>
            <ion-label>Map</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="about">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>About</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
</ion-content>
